.chat-container {
    display: block;
    width: auto;
    height: inherit;
    overflow: hidden;
    border: 1px solid #000000;
    text-align: left;
    font-family: Helvetica;
}

.chat-container .content {
    display: table;
    width: 100%;
    height: 100%;
}

.chat-message {
    max-width: 900px;
    margin: 10px auto;
}

.chat-log {
    display: block;
    height: 120px;
    width: 98%;
    padding: 0px 10px;
    margin: 10px auto 0px auto;
    box-sizing: border-box;
    overflow-y: scroll;
}

.chat-log::-webkit-scrollbar {
    display: none;
}

.chat-input {
    display: table-row;
    width: 100%;
    height: 26px;
}

.chat-input textarea {
    display: block;
    width: 96%;
    height: 38px;
    padding: 5px;
    margin: 10px auto;
    box-sizing: border-box;
    line-height: 20pt;
    resize: none;
    outline: none;
    font-size: 14px;
    border: solid 1px #888888;
    border-radius: 3px;
}